.header {
    font-family: 'Nunito Sans';

    width: 100%;
    height: 130px;
    position: absolute;
    padding: 48px 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    @include adaptiv-font(18.5, 16);
    @media (max-width: $md2 + px) {
        height: 100px;
        padding: 40px 0;
    }
    @media (max-width: $md3 + px) {
        height: 80px;
        padding: 30px 0;
    }
    @media (max-width: $md4 + px) {
        height: 60px;
        padding: 17px 0;
    }
    &__body {
        display: flex;
    }
    &__menu {
        position: relative; 
        display: flex;
        align-items: center;
        flex: 1 1 auto;
    }
    &__content {
        display: flex;
        flex: 1 1 45%;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1500px) {
            flex: 1 1 60%;
        }
        @media (max-width: $md2+px) {
            flex-direction: column;
            justify-content: center;
            gap: 60px;
            z-index: 100;
            width: 60%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            overflow: auto;
            transform: translate( -100%, 0);
            transition: transform 0.6s ease 0s;
            background: #1F1F31;            
            &.active {
                transform: translate(0%, 0%);
            }
            @media (max-width: $md3 + px) {
                width: 70%;
            }
            @media (max-width: $md4 + px) {
                width: 80%;
            }
        }
    }
    &__logo {
        display: flex;
        gap: 12px;
        align-items: center;
        flex: 0 0 58%;
        height: 33px;
        @media (max-width: 1500px) {
            flex: 1 1 40%;
        }
        @media (max-width: $md2 + px) {
            font-size: 20px;
        }
        @media (max-width: $md4 + px) {
            font-size: 18px;
        }
    }
    &__icon {
        @media (max-width: $md2 + px) {
            width: 28px;
        }  
        @media (max-width: $md4 + px) {
            width: 24px;
        }  
    }
    &__text {
        font-family: 'Nunito';
        color: #23EAA4;
        font-style: italic;
        font-weight: 300;
        @include adaptiv-font(25, 20);
        span {
            font-weight: 600;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        @media (max-width: $md2 + px) {
            flex-direction: column;
        }
    }
    &__item {
        margin: 0 51px 0 0;
        color: #fff;
        &:last-child {
            margin: 0;
        }
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: $md2 + px) {
            font-size: 22px;
            margin: 0 0 40px 0;
            &:last-child {
                margin: 0;
            }
        }
    }
    &__authorization {
        @media (max-width: $md2 + px) {
            font-size: 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__login {
        color: #fff;
        margin: 0 35px 0 0;
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: $md2 + px) {
            margin: 0 0 40px 0;
            font-size: 22px;
        }
    }
    &__signup {
        width: 128px;
        height: 48px;
        padding: 0 20px;

        font-size: 18px;

        background-color: transparent;
        color: #23EAA4;

        border-radius: 15px;
        border: 2px solid #23EAA4;
        text-shadow: 0px 0px 10px rgba(35, 234, 164, 0.4);
        transition: transform .2s linear;
        &:hover {
            transform: scale(1.1);
        }
        @media (max-width: $md2 + px) {
            font-size: 22px;
            height: 40px;
            padding: 0 20px;
        }
    }
    &__mobile-burger {
        display: none;
        position: absolute;
        right: 0;
        @media (max-width: $md2 + px) {
            display: block;
        }
    }
    &__burger {
        display: block;
        position: relative;
        width: 24px;
        height: 20px;
        z-index: 10;
        right: 10px;
        align-self: center;
        cursor: pointer; 
        @media (max-width: $md4 + px) {
            width: 18px;
            height: 16px;
        }
    }
    &__burger {
        span {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
            left: 0;
            top: 9px;
            border-radius: 1px;
            @media (max-width: $md4 + px) {
                top: 7px;
            }
        }
    }
    &__burger:before,
    &__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 5;
        transition: all 0.3s linear 0s;
        border-radius: 1px;
    }
    &__burger:before {
        top: 0;
    }
    &__burger:after {
        bottom: 0;
    }
    &__burger.active span {
        transform: scale(0);
    }
    &__burger.active:before {
        transform: rotate(45deg);
        top: calc(50% - 1px);
    }
    &__burger.active:after {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }
}

@media (max-width: $md2 + px) {
    body.lock {
        overflow: hidden;
        .header {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
        }
    }
}